<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.core.dao.SchoolDao">

	<sql id="selectSchoolListWhere">
		<where>
	      <if test="score != null">
	        score &lt;= #{score}
	      </if>
    	</where>
	</sql>
	<select id="selectSchoolList" parameterType="school" resultType="school">
		SELECT
			*
		FROM
			school 
		<include refid="selectSchoolListWhere"/>
		order by id asc
		
		<if test="start !=null and rows != null">
			limit #{start},#{rows}
		</if>
	</select>
	
	<select id="selectSchoolListCount" parameterType="school" resultType="int">
		select count(*)
		from school
		<include refid="selectSchoolListWhere"/>
	</select>	
	
	<select id="getSchoolById" parameterType="int" resultType="school">
		select * from school where id = #{id}
	</select>
	
	<update id="updateSchool" parameterType="school">
		update school
		<set>
			<if test="schoolname!=null">
				schoolname=#{schoolname},
			</if>
			
			<if test="score!=null">
				score=#{score},
			</if>
			
			<if test="schoolcode!=null">
				schoolcode=#{schoolcode},
			</if>
			
			<if test="tellphone!=null">
				tellphone=#{tellphone},
			</if>
			
			<if test="updatetime!=null">
				updatetime=#{updatetime},
			</if>			
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteSchool" parameterType="int">
		delete from school where id=#{id}
	</delete>
	
	<insert id="insertSchool" parameterType="school">
 		INSERT INTO school(schoolname,score,createtime,schoolcode,tellphone) VALUES (#{schoolname}, #{score}, #{createtime}, #{schoolcode}, #{tellphone});
	</insert>

</mapper>